@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Slabo 27px', serif;
  font-family: 'Montserrat', sans-serif;

  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0 auto;
}

.content {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.top {
  padding: 0;
  margin: 0;
  background-color: white;

  color: #CADFCD;
  text-align: center;
}

h1 {
  font-family: 'Slabo 27px', serif;
  color: #025157;
  font-size: 3rem;

  padding-top: 0.25em;
  padding-bottom: 0em;
  margin: 0;
}

h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #025157;
}

.nav {
  list-style: none;
  margin: 0.5em 0 0em 0;
  background-color: #025157;
  padding: 0.5em;
}

nav ul {
  width: 100%;
  padding-top: 0.5em;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}

.nav a {
  text-decoration: none;
  padding: 0;
  display: inline-block;
  color: white;
}

.nav li {
  color: white;
  display: inline;
  padding: 0.5em;
  width: calc(100% / 3);
}

.social {
  width: 15%;
  display: inline-block;
  padding: 1em;
  margin: 0 auto;
}

footer {
  margin: 0 auto;
  text-align: center;
}

.background {
  width: 100%;
  padding-top: 1em;
  margin: 0 auto;
  max-width: 600px;
  display: block;
}

.about {
  padding: 0 1em 1em 1em;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.contact {
  padding: 0 1em 1em 1em;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-family: 'Slabo 27px', serif;
  color: #F16565;
}

.projects {

}

.box {
  position: absolute;
  background-color: #025157;
  opacity: 0;
  height: 350px;
  width: 350px;
  padding: 0;
}

.box:hover {
  opacity: 0.5;
}

.piece {
  position: relative;
  margin: 0 auto;
}

.foot {
  background-image: url(../img/leaves.svg);
  background-size: 100%;
  background-repeat: repeat;
  background-position: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  clear: all;
  background-color: white;
  max-height: 56px;
}

.icons {
  width: 380px;
  margin: 0 auto;
}

@media only screen and (min-width: 25em) {



}

@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {



}
