<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Caitlin Gagné | Portfolio</title>
  <meta name="description" content="Caitlin Gagné is a graphic designer and illustrator based in Ottawa.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <html prefix="og: http://ogp.me/ns#">

  <meta property="og:title" content="Caitlin Gagne Portfolio Site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://ca1tlin22.github.io/caitlingagne.work" />
  <meta property="og:image" content="https://ca1tlin22.github.io/caitlingagne.work/img/" />
  <meta property="og:description" content="Caitlin Gagne's portfolio website." />

  <link href="css/main.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/typography.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

  <link rel="shortcut icon" href="{{site.baseurl}}/img/grey.png" type="image/x-icon" />
</head>
<body>

  <header>
    <nav class="grid grid-middle">
    <ul class="nav unit unit-xs-1 unit-s-1 unit-1-1 unit-l-1-5">
      <li><a href="{{site.baseurl}}/index.html">Home</a></li>
      <li>|</li>
      <li><a href="{{site.baseurl}}/projects.html">Projects</a></li>
    </ul>
  </nav>
  </header>

  <main itemscope itemtype="https://schema.org/CreativeWork">
  {{content}}
  </main>
  <div class="foot-space"></div>
</body>

<footer class="foot">
  <div class="icons">
    <a href="https://www.instagram.com/caitlin.gagne/"><img class="social insta" src="img/insta.svg" alt=""></a>
    <a href="https://github.com/ca1tlin22"><img class="social github" src="img/github.svg" alt=""></a>
    <a href="https://ca.linkedin.com/in/caitlin-gagné-8b7286106"><img class="social linkedin" src="img/linkedin.svg" alt=""></a>
  </div>
</footer>
</html>
